esphome
# snap install mqtt-explorer
# sudo apt install -y mosquitto
paho-mqtt
tornado
esptool
grpcio-tools
#grpc_tools.protoc -I .\MainController\protos\ --python_out=. --grpc_python_out= .\MainController\protos\ShadeShell.proto
# sudo chmod a+rw /dev/ttyUSB0
